body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('assorted-fresh-ripe-fruit-red-yellow-and-green-vegetables-market-harvesting-agricultural-products-mixed-vegetables-and-fruits-background-healthy-foo-2AGDWW8.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* White background with opacity */
    padding: 20px;
    margin: 50px auto;
    max-width: 500px;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="file"],
form input[type="text"],
form input[type="number"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form textarea {
    height: 100px;
}

form button[type="submit"] {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #23527c;
}
